<app-event-child></app-event-child>
<h3>From:</h3>
<form >
    <div  *ngFor="let data of data.from">
        <input [name]="city" type="radio" [id]="data.name" [value]="data.name" (change)="onItemChange($event.target.id)">
        <label [for]="data.name">
            {{data.name}}
        </label>
    </div>
<h3>To</h3>
    <div class="form-group" *ngIf="show">
        <form >
            <div *ngFor="let city of m_city_to,let index = index">
                
                <input [name]="subCity" type="radio" [id]=index [value]="city.name" [checked]="m_images[city.name].checked">
                <label [for]=index>
                    {{city.name}} {{city.price}} 
                </label>
                <img [src]="m_images[city.name].src" >
                
                
            </div>
        </form>
        <div *ngIf="show_2 == true && show">
                    {{m_information}}
        </div>
    </div>
</form>

